/* helper properties
======================================================== */

.sticky { z-index:999; position:fixed; }

.sticky.top { top:0px; }

.sticky.bottom { bottom:0px; }

.full-width { width:100%; }

.standard-padding {padding:10px;}
.standard-padding-top {padding-top:10px;}
.standard-padding-bottom {padding-bottom:10px;}
.standard-padding-right {padding-right:10px;}
.standard-padding-left {padding-left:10px;}
.standard-padding-parallel {padding:10px 0 10px 0;}

.half-padding {padding:5px;}
.half-padding-top {padding-top:5px;}
.half-padding-bottom {padding-bottom:5px;}
.half-padding-right {padding-right:5px;}
.half-padding-left {padding-left:5px;}
.half-padding-parallel {padding:5px 0 5px 0;}

.v-align { margin-top:auto; margin-bottom:auto;}

.shadow-line { box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4) }

.rect { 
  width:100%;
  margin-bottom:10px;
  background: rgb(248,248,248); /* Old browsers */
  border: 1px solid rgb(210,210,210);
}

.rounded {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}



/* Sections Types
======================================================== */



.bar { padding: 10px 0 10px 0; background-color:rgba(250, 250, 250, 0.9); }

.logo {}

.wrapper { padding:20px 0 20px 0; }

.post {
}

.related {
}

.comments {
}





/* Transitional Elements 
======================================================== */

.banner {
  height:450px;
}

.avatar-holder {
  width:100%;
  height:250px;
  background: rgb(248,248,248);
  border: 1px solid rgb(210,210,210);
  margin-bottom:10px;
  
}

.tag {
  width:100%;
}

@media only screen and (min-width: 960px) and (max-width: 1439px) {

  .banner {
    height:350px;
  }
  
  .avatar-holder {
    width:100%;
    height:150px;
    background: rgb(248,248,248);
    border: 1px solid rgb(210,210,210);
    margin-bottom:10px;
  }
  
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  
  .banner {
    height:250px;
  }
  
  .avatar-holder {
    width:100%;
    height:120px;
    background: rgb(248,248,248);
    border: 1px solid rgb(210,210,210);
    margin-bottom:10px;
  }

}


@media only screen and (min-width: 480px) and (max-width: 767px) {

  .banner {
    height:250px;
  }
  
  .avatar-holder {
    width:25px;
    height:25px;
    float:left;
    background: rgb(248,248,248);
    border: 1px solid rgb(210,210,210);
    margin:0 10px 0 0;
  }
  
  .tag {
    width:inherit;
  }
  
}

@media only screen and (min-width: 300px) and (max-width: 479px) {

  .banner {
    height:250px;
  }
  
  .avatar-holder {
    width:25px;
    height:25px;
    float:left;
    background: rgb(248,248,248);
    border: 1px solid rgb(210,210,210);
    margin:0 10px 0 0;
  }
  
  .tag {
    width:inherit;
  }
  
}
