/* Positioning elements
======================================================== */

.sticky { z-index:999; position:fixed; }
.sticky.top { top:0px; }
.sticky.bottom { bottom:0px; }
.float-left { float:left; }
.float-right { float:right; }

/* Dimension elements
======================================================== */
.full-width { width:100%; }


/* Border elements
======================================================== */
.shadow-line { box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4) }
.border-bottom { border-bottom: 1px solid #cecece;}
.border-top { border-top: 1px solid #cecece;}
.rounded {	-moz-border-radius: 3px;	-webkit-border-radius: 3px;	border-radius: 3px; }


/* Margin + Padding elements
======================================================== */
.margin-none { margin-bottom:0px; }
.std-padding { padding:10px 0; }


/* Geometric elements
======================================================== */
.rect { 
  width:100%;
  margin-bottom:10px;
  background: rgb(248,248,248); /* Old browsers */
  border: 1px solid rgb(210,210,210);
}

/* Background + Fill elements
======================================================== */

.fill {  background: rgba(250,250,250,0.9); }
.filler{ height:500px; }
.red { background: #db3c14; //border:1px solid #db3c14; }
.green{ background: #6dc066; //border:1px solid #6dc066; }
.blue { background: #00aedb; //border:1px solid #00aedb; }
    


/* Transitional Elements 
======================================================== */
#content:before { 
  display: block; 
  content: " "; 
  margin-top: -285px; 
  height: 285px; 
  visibility: hidden; 
}

@media only screen and (min-width: 960px) and (max-width: 1439px) {


  
}

@media only screen and (min-width: 768px) and (max-width: 959px) {


}


@media only screen and (min-width: 480px) and (max-width: 767px) {

  .mobile-hide{
    display:none;
  }
  
}

@media only screen and (min-width: 300px) and (max-width: 479px) {
  .mobile-hide{
    display:none;
  }

  
}
